body{
	font-family:Open Sans;
}


.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  outline: 0 none;
}

.btn-primary{
	background-color: rgba(255,255,255,0);
  	border-color: #fffffe;
	border-width: 2px !important;
}

.btn-primary:hover{
	background-color: #fffffe;
  	border-color: #fffffe;
  	color:#222;
  	font-weight:700;
}

.btn-primary:focus{
	background-color: #fffffe;
  border-color: #fffffe;
  color:#222;	
}


.lockscreen{
 background:url('/envoice/resources/img/bg.jpg');
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
 
 .text-muted{
 	color:#fffffe;
 }
 
 .register-page{
 background:url('/envoice/resources/img/bg.jpg');
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
 
 .lockscreen-item{
	background: rgba(0,0,0,0);
}
 
 .register-box-body {
 	margin-top:10px;
    background: rgba(0,0,0,0);
 }


.lockscreen{
	background:url('/envoice/resources/img/bg.jpg');
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;	
}


.login-box-body{
	margin-top:10px;
	background: rgba(0,0,0,0);
}

.login-box-msg{
	color: #222;
	font-weight: 700 !important;
}

.register-box-msg{
	color: #222;
    font-weight: 700 !important;
}

.icheck>label{
	color: #222;
}

.register-logo{
	margin-bottom:0px;
	margin-top:0px;
}

.register-box{
	margin-top: 5%;
}

.lockscreen-logo{
	margin-bottom: 0px;
}


.lockscreen-name{
	margin-top: 30px;
    padding: 0 20px 20px 20px;
    font-weight: 700 !important;
    color: #222;
}

.btn-transp{
	background-color:transparent !important;
	margin-left: -30px !important;
}

.help-block{
	color:#222;
}

.text-center{
	font-weight:700! important;
}

.lsw-new{
	margin-top: 5%;
}



.logo-label{
	color: #222;
	margin-top:5px;
	font-family: Marvel;
}

.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }

.form-control{
	background-color:rgba(255,255,255,0);
	border: 1px solid #d0d0d0;
	color: #222;
}

.form-control:focus{
	border-color : #fff !important;
	box-shadow:none;
}

.login-box-body .form-control-feedback, .register-box-body .form-control-feedback {
    color: #fffffe;
}

.lockscreen-credentials .form-control {
	border: 1px solid #d0d0d0 !important;
	width:100%
}

.lockscreen-credentials .form-control:focus {
	border: 1px solid #fffffe !important;
}

.lockscreen-credentials {
    margin-left: 65px;
}

.floating-text{
	text-align: center;
	font-weight: 700;
	color: #222;
}


a {
  color: #222;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color: #fffffe;
}