<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'></meta>
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/font-awesome.min.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{http://fonts.googleapis.com/css?family=Open+Sans|Jockey+One|Marvel|Ubuntu|PT+Sans}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/AdminLTE.min.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/skins/skin-black.min.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/envoice.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/resources/plugins/iCheck/square/grey.css}"></link>
<link rel="shortcut icon" type="image/x-icon" th:href="@{resources/img/favicon.ico}"></link>

	<title>Home | Envoice</title>
</head>

<body class="lockscreen">
    <!-- Automatic element centering -->
    <div class="lockscreen-wrapper lsw-new">
      <div class="lockscreen-logo">
        <a href="#"><img src="resources/img/envoice_logo.png" alt="envoice" width="200" height="200"></img></a>
      </div>
      
      <!-- START LOGIN BODY -->
    <div class="login-box-body">
    	
        <p class="login-box-msg">Sign in to start your session</p>
        <form action="../../index2.html" method="post">
          <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Username"/>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Password"/>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">    
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox"/> Remember Me
                </label>
              </div>                        
            </div><!-- /.col -->
            <div class="col-xs-4">
              <a href="register.html"><button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button></a>
            </div><!-- /.col -->
          </div>
        </form>

        <br/><a href="#">I forgot my password</a><br/><br/>
        <div class="row">
        <div class="col-xs-12">
        <a href="register.html" class="btn btn-primary btn-block btn-flat" role="button">Not Registered? Sign up</a>
        </div>
        </div>
        <br/>
        <p class="login-box-msg" th:text="${serverTime}"></p>
      </div>      
    </div><!-- /.center -->



<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/plugins/iCheck/icheck.min.js}"></script>
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-grey',
          radioClass: 'iradio_square-grey',
          increaseArea: '20%' // optional
        });
      });
    </script>
</body>
</html>