<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'></meta>
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/font-awesome.min.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{http://fonts.googleapis.com/css?family=Open+Sans|Jockey+One|Marvel|Ubuntu|PT+Sans}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/AdminLTE.min.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/skins/skin-black.min.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/envoice.css}"></link>
<link rel="shortcut icon" type="image/x-icon" th:href="@{resources/img/favicon.ico}"></link>

	<title>Resume Session | Envoice</title>
</head>

<body class="lockscreen">
    <!-- Automatic element centering -->
    <div class="lockscreen-wrapper lsw-new">
      <div class="lockscreen-logo">
        <a href="#"><img src="resources/img/envoice_logo.png" alt="envoice" width="200" height="200"></img></a>
      </div>
      <!-- User name -->
      <div class="lockscreen-name">John Doe</div>

      <!-- START LOCK SCREEN ITEM -->
      <div class="lockscreen-item">
        <!-- lockscreen image -->
        <div class="lockscreen-image">
          <img src="resources/img/user1-128x128.jpg" alt="user image"/>
        </div>
        <!-- /.lockscreen-image -->

        <!-- lockscreen credentials (contains the form) -->
        <form class="lockscreen-credentials">
          <div class="input-group">
            <input type="password" class="form-control" placeholder="password" />
            <div class="input-group-btn">
              <button class="btn btn-transp">
              	<i class="fa fa-arrow-right text-muted"></i>
              </button>
            </div>
          </div>
        </form><!-- /.lockscreen credentials -->

      </div><!-- /.lockscreen-item -->
      <div class="help-block text-center">
        Enter your password to retrieve your session
      </div>
      
      <div class='text-center'>
        Or <a th:href="@{/}">sign in</a> as a different user
      </div>
    </div>
	<script th:src="@{/resources/js/jquery.min.js}"></script>
	<script th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script th:src="@{/resources/plugins/iCheck/icheck.min.js}"></script>
  </body>
</html>