<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'></meta>
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/font-awesome.min.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{http://fonts.googleapis.com/css?family=Open+Sans|Jockey+One|Marvel|Ubuntu|PT+Sans}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/AdminLTE.min.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/skins/skin-black.min.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/envoice.css}"></link>
<link rel="shortcut icon" type="image/x-icon" th:href="@{resources/img/favicon.ico}"></link>

	<title>Organization Setup | Envoice</title>
</head>

  <body class="register-page">
    <div class="register-box">
      <div class="register-logo">
        <a href="#"><img src="resources/img/envoice_logo.png" alt="envoice" width="200" height="200"></img></a>
      </div>

      <div class="register-box-body">
        <br/>
        <p class="register-box-msg">Organization Setup</p>
        <form action="orgsetup" method="post">
          <div class="form-group has-feedback">
            <select class="form-control" name="Industry">
                <option selected="selected">Select Industry type</option>
                <option value="Type1">Type 1</option>
                <option value="Type2">Type 2</option>
           		<option value="Type3">Type 3</option>
            </select>
          </div>
          <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Website"/>
            <span class="glyphicon glyphicon-globe form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Email"/>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>

          <div class="form-group has-feedback">
          <select class="form-control" name="Currency">
                        <option selected="selected">Select Currency</option>
                        <option value="NRs">NRs</option>
                        <option value="dollar">$</option>
                        <option value="IC">IC</option>
            </select>
            </div>
          <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="City"/>
            <span class="glyphicon glyphicon-road form-control-feedback"></span>
          </div>
          
          <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Street"/>
            <span class="glyphicon glyphicon-home form-control-feedback"></span>
          </div>
          
          <div class="row">
            <div class="col-xs-8" style="margin-left: 17%">
              <a href="#" class="btn btn-primary btn-block btn-flat" role="button">Save &amp; Continue</a>
            </div><!-- /.col -->
          </div>
        </form> 
        

      </div><!-- /.registerboxbody -->
    </div><!-- /.register-box -->


<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/plugins/iCheck/icheck.min.js}"></script>
  </body>
</html>